.cabinet-favourite-recipe {
  display: flex;
  flex-direction: column;
  border: black solid 1px;
  border-radius: 2%;
  box-shadow: 0 0 9px gray;
  padding: 5px;
  max-width: 200px;
}

.cabinet-favourite-recipe-photo-content {
  width: 100%;
}

.cabinet-favourite-recipe-photo-content img {
  width: 100%;
}

