<div class="cabinet-favourite-recipe">
  <a [routerLink]="['/recipe', recipeFavorite.id]">
    <div class="cabinet-favourite-recipe-photo">
      <div class="cabinet-favourite-recipe-photo-content">
        <img src="{{url + '/' + recipeFavorite.title + '/' + recipeFavorite.image}}" alt="photo">
      </div>
    </div>

    <div class="cabinet-favourite-recipe-title">
      <div>
        {{recipeFavorite.title}}
      </div>
    </div>

    <div class="cabinet-favourite-recipe-category">
      <div>
        {{recipeFavorite.recipeCategoryDto.name}}
      </div>
    </div>
  </a>
</div>
