:host(app-favorite-recipe) {
  height: 250px;
  width: 200px;
}

.cabinet-favourite-recipe {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  width: 200px;
  height: 250px;
  border-left: #ece1cb medium solid;
  border-top: #ece1cb thin solid;
  box-shadow: 0 0 3px #ece1cb;
}

.cabinet-favourite-recipe:hover {
  box-shadow: 2px 2px 1px #9a9a9a;
}

.cabinet-favourite-recipe a {
  text-decoration: none;
  color: black;
}
/*============================*/

.cabinet-favourite-recipe-photo-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  max-height: 150px;
  max-width: 200px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}


.cabinet-favourite-recipe-photo-content img {
  height: auto;
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cabinet-favourite-recipe-title {
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
  font-family: "Segoe Print", serif;
}

.cabinet-favourite-recipe-category {
  font-style: italic;
  font-family: "Segoe Script", serif;
  font-size: 12px;
  padding: 5px;
  display: flex;
  justify-content: center;
}

