:host(app-user-norms-page) {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
}

.user-norms-page {
  padding: 160px 20px 20px 20px;
  width: 100%;
  height: 100%;
  background-color: #ece1cb;
  display: flex;
  justify-content: center;
}

.user-norms-page-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  /*padding: 50px 100px;*/
  justify-content: center;
  align-items: center;
  /*background-color: #fadc9d;*/
  /*box-shadow: orange 0 0 15px 1px;*/
}

.user-norms-page-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 10px 0;
  font-family: "Segoe Print", sans-serif;
  font-weight: bold;
  font-size: 20px;
  background-color: white;
  border-radius: 15px;
  box-shadow: white 0 0 10px 5px;
  width: 82%;
}

.user-norms-page-list {
  display: flex;
  justify-content: center;
  padding: 50px 0;
  align-items: center;
  width: 85%;

}

.user-norms-page-list-have {
  display: flex;
  justify-content: center;
  column-gap: 2%;
  width: 100%;
}

.user-norms-page-norms-energy-organics {
  display: flex;
  flex-direction: column;
}

.user-norms-page-norm {
  display: flex;
  justify-content: center;

}
.user-norms-page-norms {
  margin-bottom: 30px;
}

.user-norms-page-norm > div {
  display: flex;
  width: 90%;
  justify-content: right;
  border-left: white solid medium;
  border-radius: 20px;
  border-right: white solid medium;
  border-bottom: white solid thin;
  /*background-color: white;*/
}

.user-norms-page-norm-name {
  display: flex;
  padding: 10px;
  justify-content: center;
  width: 200px;
}

.user-norm-page-norm-quantity {
  display: flex;
  padding: 10px;
  justify-content: center;
  width: 100px;
}

.user-norms-page-norm-category {
  box-shadow: white 0 0 5px;
  background-color: white;
  font-family: "Segoe Print", sans-serif;
  font-size: 18px;
  border-radius: 5px;
  padding: 5px 0 5px 10px;
}

.user-norms-page-norm-name {
  font-family: "Segoe Print", sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #9f653b;
}

.user-norm-page-norm-quantity {
  font-family: "Segoe Script", sans-serif;
}
