:host(app-user-norms-page) {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
}

.user-norms-page {
  padding: 160px 20px 10px 20px;
  min-height: 100%;
}

.user-norms-page-content {
  width: 70%;
  min-width: 900px;
  max-width: 1240px;
  box-shadow: inset #ece1cb 0 0 30px;
  border-left: white medium solid;
  border-radius: 30px;
}

.user-norms-page-title {
  padding: 20px 0 20px 0;
  font-size: 25px;
  border-radius: 5px;
  width: 82%;
}

.user-norms-page-list {
  width: 85%;
}

.user-norms-page-list-have {
  column-gap: 2%;
}

.user-norms-page-norm {
  width: 265px;
}

.user-norms-page-norms {
  margin-bottom: 30px;
}

.user-norms-page-norm > div {
  width: 90%;
  border-left: #ece1cb solid medium;
  border-radius: 20px;
  border-right: #ece1cb solid medium;
  border-bottom: #ece1cb solid thin;
}

.user-norms-page-norm-name {
  padding: 10px;
  width: 135px;
  font-size: 15px;
}

.user-norm-page-norm-quantity {
  padding: 10px;
  width: 115px;
}

.user-norms-page-norm-category {
  box-shadow: #ece1cb 0 0 5px;
  font-size: 18px;
  border-radius: 5px;
  padding: 5px 0 5px 10px;
  color: white;
}
