:host(app-add-recipe) {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
}

.add-recipe {
  padding: 70px 20px 60px 20px;
}

.add-recipe-form {
  border-radius: 20px;
  row-gap: 20px;
}

.add-recipe-form-title > label,
.add-recipe-form-cooking > label,
.add-recipe-form-category > label,
.add-recipe-form-image > label {
  width: 300px;
}

/* inputs */
.add-recipe-form input {
  border-radius: 5px;
  border: none;
  box-shadow: white 0 0 10px;
}

.add-recipe-form-title input,
.add-recipe-form-category select,
.add-recipe-form-image input {
  width: 800px;
  height: 50px;
}

.add-recipe-form-title input,
.add-recipe-form-ingredient-weight input {
  font-size: 13px;
}

.add-recipe-form-title {
  margin-top: 30px;
}

.add-recipe-form-cooking textarea {
  border-radius: 5px;
  border: none;
  box-shadow: white 0 0 10px;
  width: 800px;
  font-size: 12px;
}

.add-recipe-form button {
  font-size: 13px;
  border-radius: 5px;
  border: none;
  box-shadow: white 0 0 10px;
}

.add-recipe-form-ingredient-add-button button {
  box-shadow: #ade59d 0 0 10px;
  background-color: #ade59d;
}

.add-recipe-form-ingredient-delete-button button {
  box-shadow: #f5b0a8 0 0 10px;
  background-color: #f5b0a8;
}

.add-recipe-form-ingredient-delete-button {
  width: 60px;
}

.add-recipe-form select {
  font-size: 13px;
  border-radius: 5px;
  border: none;
  box-shadow: white 0 0 10px;
}

/*-- ingredients  ---*/

.add-recipe-form-ingredient {
  box-shadow: white 0 0 10px;
  border-radius: 5px;
}

.add-recipe-form-ingredients-list {
  width: 800px;
}

.add-recipe-form-ingredient-number {
  width: 10px;
  font-size: 13px;
}

.add-recipe-form-ingredients-list > div {
  padding: 5px 0;
}

.add-recipe-form-image label {
  position: relative;
  width: 730px;
}

.add-recipe-form-image-title {
  position: absolute;
  top: 15px;
  left: -10px;
  width: 50px;
  font-size: 13px;
}

.add-recipe-form-image input {
  width: 700px;
  padding: 10px 0 0 100px;
  height: 40px;
}

.add-recipe-form-ingredient-category select {
  width: 250px;
}

.add-recipe-form-ingredient-ingredient select {
  width: 300px;
}

/*-------------------------*/
.add-recipe-form-submit-button {
  height: 100px;
}

.add-recipe-form-submit-button button {
  height: 50px;
  width: 250px;
  border-radius: 20px;
  background-color: darkseagreen;
}

.add-recipe-form-submit-button button:disabled {
  background-color: #f5c7c2;
}

.add-recipe-form-submit-button button:hover {
  background-color: #b6c9ff;
  box-shadow: #b6c9ff 0 0 20px;
}
