:host(app-created-recipe) {
  height: 250px;
  width: 200px;
}

.cabinet-created-recipe {
  border-radius: 3px;
  width: 200px;
  height: 250px;
  border-left: #ece1cb medium solid;
  border-top: #ece1cb thin solid;
  box-shadow: 0 0 3px #ece1cb;
}

.cabinet-created-recipe:hover {
  box-shadow: 2px 2px 1px #9a9a9a;
}

.cabinet-created-recipe a {
  text-decoration: none;
}

/*=================================*/

.cabinet-created-recipe-photo-content {
  overflow-y: hidden;
  max-height: 150px;
  max-width: 200px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.cabinet-created-recipe-photo-content img {
  max-width: 100%;
}

.cabinet-created-recipe-title {
  padding: 5px;
  font-size: 15px;
}

.cabinet-created-recipe-category {
  font-style: italic;
  font-size: 12px;
  padding: 5px;
}
