.recipes-page {
  display: flex;
  flex-direction: column;
  padding: 130px 20px 70px 20px;
  background-color: white;
  box-shadow: inset #ece1cb 0 -15px 45px;

  min-height: 100%;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
}

.recipes-page-message-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.recipes-page-message {
  display: flex;
  flex-direction: column;

  row-gap: 10px;
  justify-content: center;
  align-content: center;
}

#recipes-page-list {
  display: flex;
  flex-flow: column wrap;
  column-gap: 10px;
  row-gap: 10px;
  justify-content: flex-start;
  align-content: center;
  flex-direction: column;
}

.recipe-component {
  width: 400px;
  display: flex;
  max-height: fit-content;
}

.recipes-page-message-one {
  font-family: "Segoe Print", sans-serif;
  font-size: 15px;
}

.recipes-page-message-two {
  font-family: "Segoe Print", sans-serif;
  font-size: 15px;
}

.recipes-page-message-two span {
  font-weight: bold;
}

.recipes-page-message-two span:hover {
  color: darkred;
  cursor: pointer;
}
