:host(app-favorite-recipes) {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
}
/*===================================*/

.cabinet-favorite-recipes-list {
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;

  height: 100%;
  row-gap: 30px;

  width: fit-content;
  max-width: 70%;
  min-width: 900px;

  padding: 50px 20px;
  box-shadow: inset #ece1cb 0 0 30px;
  border-left: white medium solid;
}

.cabinet-created-recipes-list-title {
  font-family: "Segoe Script", serif;
  font-size: 20px;
  padding-left: 20px;
  font-weight: bold;
}

.cabinet-favorite-recipes-list-content {
  display: flex;
  flex-direction: column;
}

.cabinet-favorite-recipes-list-recipes {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 30px;
  width: fit-content;
  min-width: 60%;
  padding: 50px 20px;
  align-items: center;
}

.cabinet-favorite-recipes-list-link {
  display: flex;
  min-width: 60%;
  height: 30px;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
}

.cabinet-favorite-recipes-list-link a {
  font-family: "Segoe Script", serif;
  font-size: 15px;
  text-decoration: none;
  color: black;
}

.cabinet-favorite-recipes-list-link a:hover {
  cursor: pointer;
  color: firebrick;
}

