<div class="cabinet-favorite-recipes-list">
  <div class="cabinet-created-recipes-list-title">
    УЛЮБЛЕНІ РЕЦЕПТИ
  </div>
  <div class="cabinet-favorite-recipes-list-title" *ngIf="recipesFavorite.length == 0">
    <div>
      Ви ще не вподобали жодного рецепта:(
    </div>
  </div>
  <div class="cabinet-favorite-recipes-list-content">

    <div class="cabinet-favorite-recipes-navigation">

      <div class="cabinet-favorite-recipes-search">
        <div class="cabinet-favorite-recipes-search-form-wrapper">
          <form class="cabinet-favorite-recipes-search-form" [formGroup]="searchForm">
            <div class="cabinet-favorite-recipes-search-form-inputs">

              <div class="cabinet-favorite-recipes-search-form-input-title">
                <label>
                  <input type="text" placeholder="Введіть назву рецепта" [defaultValue]="''" formControlName="title">
                </label>
              </div>

              <div class="cabinet-favorite-recipes-search-form-input-category">
                <label>
                  <select [(ngModel)]="meme1" formControlName="recipeCategoryId">
                    <option [ngValue]="null" selected disabled hidden>Категорія рецептів</option>
                    <option [ngValue]="category.id" *ngFor="let category of categories">{{category.name}}</option>
                    <option [ngValue]="0">Категорія відсутня</option>
                  </select>
                </label>
              </div>

              <div class="cabinet-favorite-recipes-search-form-input-nutrient">
                <label>
                  <select [(ngModel)]="meme2" formControlName="nutrientId">
                    <option [ngValue]="null" disabled selected hidden>Сортування по нутрієнту</option>
                    <option *ngFor="let nutrient of nutrients"
                            [ngValue]="nutrient.idOfNutrient">{{nutrient.name}}</option>
                    <option [ngValue]="0">Категорія відсутня</option>
                  </select>
                </label>
              </div>
            </div>
            <div class="cabinet-favorite-recipes-search-form-button">
              <button (click)="submitFilter()" type="submit">Пошук</button>
            </div>
          </form>
        </div>
      </div>

    </div>

    <div class="cabinet-favorite-recipes-list-recipes" *ngIf="recipesFavorite.length != 0">
      <app-favorite-recipe class="cabinet-favorite-recipe-app" *ngFor="let recipeFavorite of recipesFavorite"
                           [recipeFavorite]="recipeFavorite"></app-favorite-recipe>
    </div>
    <div class="cabinet-favorite-recipes-pagination">
      <div class="cabinet-favorite-recipes-pagination-wrapper">
        <div class="cabinet-favorite-recipes-pagination-paging">
          <button (click)="goFirstPage()" class="cabinet-favorite-recipes-pagination-paging-first-page">|<<</button>
          <button (click)="goPreviousPage()" class="cabinet-favorite-recipes-pagination-paging-previous-page"><</button>
          <div class="cabinet-favorite-recipes-pagination-current-page">{{pageInfoOfFavorite.currentPage + 1}}/{{pageInfoOfFavorite.totalPages}}</div>
          <button (click)="goNextPage()" class="cabinet-favorite-recipes-pagination-paging-next-page">></button>
          <button (click)="goLastPage()" class="cabinet-favorite-recipes-pagination-paging-last-page">>>|</button>
        </div>
      </div>
    </div>
    <div class="cabinet-favorite-recipes-list-link">
      <a [routerLink]="['/recipes/allRecipes']" [queryParams]="{pageSize: 10, pageNumber:0}">Перейти до загального
        списку рецептів</a>
    </div>
  </div>
</div>



