<div *ngIf="recipesFavorite.length == 0" class="cabinet-favourite-recipes-list-title">
  <div>
    Ви ще не вподобали жодного рецепта:(
  </div>
</div>

<div class="cabinet-favourite-recipes-list-content">
  <div class="cabinet-favourite-recipes-list-recipes">
    <app-favorite-recipe class="cabinet-favourite-recipe-app" *ngFor="let recipeFavorite of recipesFavorite" [recipeFavorite]="recipeFavorite"></app-favorite-recipe>
  </div>

  <div class="cabinet-favourite-recipes-list-link" >
    <a [routerLink]="['/recipes/allRecipes']" [queryParams]="{pageSize: 10, pageNumber:0}">Перейти до загального списку рецептів</a>
  </div>
</div>

