:host(app-admin-page) {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
}

.admin-page-wrapper {
  padding: 160px 20px 60px 20px;
  min-height: 100vh;
}

/*========= list-of-recipes =========*/

.admin-page-list-of-recipes {
  border-radius: 30px;
  box-shadow: inset #ece1cb 0 0 30px;
  border-left: white medium solid;
  row-gap: 10px;
  padding: 30px 20px;
  width: 75%;
  min-width: fit-content;
}

.admin-page-list-of-recipes-recipe-wrapper {
  text-decoration: none;
}

.admin-page-list-of-recipes-recipe-status-wrapper {
  position: absolute;
  z-index: 0;
  right: 10px;
  top: 10px;
  font-size: 20px;
}

.admin-page-list-of-recipes-recipe {
  border-radius: 15px;
  box-shadow: 1px 1px 2px #555555;
  padding: 30px 10px;
  position: relative;
}

.admin-page-list-of-recipes-recipe-left {
  min-width: 300px;
}

.admin-page-list-of-recipes-recipe-photo-content {
  overflow-y: hidden;
  max-height: 200px;
  border-radius: 30%;
  max-width: 300px;
}

.admin-page-list-of-recipes-recipe-photo-content img {
  max-width: 100%;
  box-sizing: border-box;
}

.admin-page-list-of-recipes-recipe-title {
  font-size: 20px;
  width: 250px;
}

.admin-page-list-of-recipes-recipe-category {
  font-size: 15px;
  padding: 5px 10px;
  border-top: #ece1cb medium dotted;
}

.admin-page-list-of-recipes-recipe-ingredients {
  column-gap: 6px;
  row-gap: 3px;
  flex-wrap: wrap;
  padding: 5px;
  max-height: 150px;
}

.admin-page-list-of-recipes-recipe-ingredient {
  column-gap: 10px;
  border-radius: 5px;
  font-size: 14px;
  padding: 5px 8px;
  border-left: #555555 medium solid;
}
