<div class="footer">
  <div class="paging-wrapper">

    <div class="paging">
      <button (click)="goFirstPage()" class="paging-first-page">|<<</button>
      <button (click)="goPreviousPage()" class="paging-previous-page"><</button>
      <div class="paging-current-page">{{pageInfo.currentPage+1}}/{{pageInfo.totalPages}}</div>
      <button (click)="goNextPage()" class="paging-next-page">></button>
      <button (click)="goLastPage()" class="paging-last-page">>>|</button>
    </div>

  </div>
</div>
