.footer {
  position: fixed;
  bottom: 0;
  height: 70px;
}

.paging-wrapper {
  padding: 0 0 10px 0;
  box-shadow: inset #ece1cb 0 -80px 30px;
  min-height: 57px;
}

.paging {
  background-color: white;
  column-gap: 20px;
  width: 30%;
  height: 40px;
  min-width: 330px;
  box-shadow: white 0 10px 12px;
}

.paging-first-page,
.paging-previous-page,
.paging-next-page,
.paging-last-page {
  border: transparent;
  font-size: 25px;
  font-family: "SimSun", serif;
  padding: 0 10px;
  min-width: 50px;
}

.paging-first-page:hover,
.paging-previous-page:hover,
.paging-next-page:hover,
.paging-last-page:hover {
  color: firebrick;
  cursor: pointer;
  text-decoration: underline;
}

.paging-current-page {
  font-family: "MV Boli", serif ;
  font-size: 22px;
}
