.page-not-found {
flex-direction: column;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.page-not-found > div {
  height: 300px;
  width: 500px;
}
