:host(app-created-recipes) {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.cabinet-created-recipes-list {
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
  row-gap: 30px;

  max-width: 70%;
  width: fit-content;
  min-width: 900px;

  padding: 50px 20px;
  box-shadow: inset #ece1cb 0 0 30px;
  border-left: white medium solid;
}

.cabinet-created-recipes-list-title {
  font-family: "Segoe Script", serif;
  font-size: 20px;
  padding-left: 20px;
  font-weight: bold;
}

.cabinet-created-recipes-list-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  /*flex-wrap: wrap;*/
  /*column-gap: 25px;*/
  /*row-gap: 30px;*/
  /*width: fit-content;*/
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
}

.cabinet-created-recipes-list-recipes-wrapper {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 30px;
  /*width: fit-content;*/
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
}

/*============= search-form ======================*/
.cabinet-created-recipes-search-form-wrapper {
  /*z-index: 1;*/
  /*position: fixed;*/
  /*top: 70px;*/
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 40px;
  /*border-bottom: #ece1cb thin solid;*/
  /*box-shadow: inset #ece1cb 0 50px 30px;*/
}

.cabinet-created-recipes-search-form {
  display: flex;
  column-gap: 20px;
}

.cabinet-created-recipes-search-form-inputs {
  display: flex;
  column-gap: 10px;
  justify-content: center;
}

.cabinet-created-recipes-search-form-inputs input {
  font-family: "Segoe Print", sans-serif;
  font-size: 11px;
  border: white thin solid;
  border-bottom: #ece1cb thin solid;

  background-color: white;
}

.cabinet-created-recipes-search-form-inputs input::placeholder {
  color: black;
}

.cabinet-created-recipes-search-form-input-category select,
.cabinet-created-recipes-search-form-input-nutrient select {
  font-family: "Segoe Print", sans-serif;
  font-size: 11px;
  border: white thin solid;
  border-bottom: #ece1cb thin solid;
  background-color: white;
  border-radius: unset;
  color: dimgrey;
}

.cabinet-created-recipes-search-form-input-category option,
.cabinet-created-recipes-search-form-input-nutrient option {
  color: black;
}

.cabinet-created-recipes-search-form-button button {
  width: 95px;
  font-family: "Segoe Print", sans-serif;
  font-size: 11px;
  border: white thin solid;
  background-color: #ece1cb;
  border-radius: unset;
}

.cabinet-created-recipes-search-form-button button:hover {
  cursor: pointer;
  color: firebrick;
}

/*=================== paging ================*/

.cabinet-created-recipes-pagination-wrapper {
  width: 100%;
  padding: 0 0 10px 0;
  /*box-shadow: inset #ece1cb 0 -80px 30px;*/
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 57px;
}

.cabinet-created-recipes-pagination-paging {
  display: flex;
  background-color: white;
  column-gap: 20px;
  width: 30%;
  height: 40px;
  min-width: 330px;
  box-shadow: white 0 10px 12px;
  /*border-radius: 50%;*/
  justify-content: space-around;
}

.cabinet-created-recipes-pagination-paging-first-page,
.cabinet-created-recipes-pagination-paging-previous-page,
.cabinet-created-recipes-pagination-paging-next-page,
.cabinet-created-recipes-pagination-paging-last-page {
  border: transparent;
  background-color: transparent;
  font-size: 25px;
  font-weight: bold;
  font-family: "SimSun", serif;
  padding: 0 10px;
  /*border-radius: 20px;*/
  min-width: 50px;
}

.cabinet-created-recipes-pagination-paging-first-page:hover,
.cabinet-created-recipes-pagination-paging-previous-page:hover,
.cabinet-created-recipes-pagination-paging-next-page:hover,
.cabinet-created-recipes-pagination-paging-last-page:hover {
  color: firebrick;
  cursor: pointer;
  text-decoration: underline;
}

.cabinet-created-recipes-pagination-current-page {
  display: flex;
  align-items: center;
  font-family: "MV Boli", serif ;
  font-size: 22px;
}
/*===================================*/

.cabinet-link-to-add-recipe {
  border: none;
  box-shadow: 0 0 3px #ece1cb;
}

.cabinet-link-to-add-recipe a {
  display: flex;
  width: 200px;
  height: 250px;
  background-color: white;
  border-radius: 2%;
  border: #c8c8c8 solid medium;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  font-family: "Segoe Print", sans-serif;
  font-size: 35px;
  font-weight: bold;
  text-decoration: none;
  color: #9a9a9a;
}

.cabinet-link-to-add-recipe a:hover {
  color: #555555;
}
