:host(app-created-recipes) {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.cabinet-created-recipes-list {
  border-radius: 30px;
  row-gap: 30px;
  max-width: 70%;
  min-width: 900px;
  padding: 50px 20px;
  box-shadow: inset #ece1cb 0 0 30px;
  border-left: white medium solid;
}

.cabinet-created-recipes-list-title {
  font-size: 20px;
  padding-left: 20px;
}

.cabinet-created-recipes-list-recipes {
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 30px;
  padding: 50px 20px;
}

/*============= search-form ======================*/
.cabinet-created-recipes-search-form-wrapper {
  height: 40px;
}

.cabinet-created-recipes-search-form {
  column-gap: 20px;
}

.cabinet-created-recipes-search-form-inputs {
  column-gap: 10px;
}

.cabinet-created-recipes-search-form-inputs input {
  font-size: 11px;
  border: white thin solid;
  border-bottom: #ece1cb thin solid;
}

.cabinet-created-recipes-search-form-inputs input::placeholder {
  color: black;
}

.cabinet-created-recipes-search-form-input-category select,
.cabinet-created-recipes-search-form-input-nutrient select,
.cabinet-created-recipes-search-form-input-page-size select {
  font-size: 11px;
  border: white thin solid;
  border-bottom: #ece1cb thin solid;
  border-radius: unset;
}

.cabinet-created-recipes-search-form-input-category option,
.cabinet-created-recipes-search-form-input-nutrient option {
  color: black;
}

.cabinet-created-recipes-search-form-button button {
  width: 95px;
  font-size: 11px;
  border: white thin solid;
  border-radius: unset;
}

.cabinet-created-recipes-search-form-button button:hover {
  cursor: pointer;
  color: firebrick;
}

/*=================== paging ================*/

.cabinet-created-recipes-pagination-wrapper {
  padding: 0 0 10px 0;
  min-height: 57px;
}

.cabinet-created-recipes-pagination-paging {
  column-gap: 20px;
  width: 30%;
  height: 40px;
  min-width: 330px;
  box-shadow: white 0 10px 12px;
}

.cabinet-created-recipes-pagination-paging-first-page,
.cabinet-created-recipes-pagination-paging-previous-page,
.cabinet-created-recipes-pagination-paging-next-page,
.cabinet-created-recipes-pagination-paging-last-page {
  border: transparent;
  font-size: 25px;
  font-family: "SimSun", serif;
  padding: 0 10px;
  min-width: 50px;
}

.cabinet-created-recipes-pagination-paging-first-page:hover,
.cabinet-created-recipes-pagination-paging-previous-page:hover,
.cabinet-created-recipes-pagination-paging-next-page:hover,
.cabinet-created-recipes-pagination-paging-last-page:hover {
  color: firebrick;
  cursor: pointer;
  text-decoration: underline;
}

.cabinet-created-recipes-pagination-current-page {
  font-family: "MV Boli", serif ;
  font-size: 22px;
}
/*===================================*/

.cabinet-link-to-add-recipe {
  border: none;
  box-shadow: 0 0 3px #ece1cb;
}

.cabinet-link-to-add-recipe a {
  width: 200px;
  height: 250px;
  border-radius: 2%;
  border: #c8c8c8 solid medium;
  font-size: 35px;
  text-decoration: none;
}

.cabinet-link-to-add-recipe a:hover {
  color: #555555;
}
