<div class="header">
  <div class="header-left">
    <div class="header-title">
      <a (click)="toMainPage()">Recipe-HUB</a>
    </div>
  </div>

  <div class="header-cabinet-link" *ngIf="signedIn">
    <a [routerLink]="['cabinet/info']">Кабінет</a>
  </div>

  <div class="header-right">
    <div class="header-buttons">
      <div class="header-button-signIn" *ngIf="signedIn; else signedOut">
        <a (click)="logOut()">Вийти з профілю</a>
      </div>
      <ng-template class="header-button-signOut" #signedOut>
        <a [routerLink]="['sign-in']">Ввійти в профіль</a>
      </ng-template>
    </div>
  </div>
</div>
