.header {
  z-index: 1;
  padding: 10px 0;
  position: fixed;
  top: 0;
  box-shadow: inset #ece1cb 0 120px 30px;
  border-bottom: white thin solid;
}

.header-top {
  column-gap: 40px;
  padding-bottom: 10px;
}

.header-admin-mode {
  position: absolute;
  z-index: 1000;
  left: 10px;
  top: 10px;
  font-size: 35px;
}

.header-title,
.header-cabinet-link,
.header-button-signIn,
.header-button-signOut {
  padding: 0 10px;
}

.header a {
  text-decoration: none;
  font-size: 35px;
}

.header a:hover {
  cursor: pointer;
  color: firebrick;
}
