.header-bottom {
  z-index: 1;
  position: fixed;
  top: 70px;
  height: 40px;
  border-top:  white thin solid;
  box-shadow: inset #ece1cb 0 50px 30px;
}

.header-bottom form {
  column-gap: 20px;
}

.filter-form-inputs {
  column-gap: 10px;
}

.filter-form-input-title input {
  font-size: 11px;
  border: white thin solid;
}

.filter-form-input-title input::placeholder {
  color: black ;
}

.filter-form-input-category select,
.filter-form-input-nutrient select,
.filter-form-input-page-size select {
  font-size: 11px;
  border: white thin solid;
  border-radius: unset;
}

.filter-form-input-category option,
.filter-form-input-nutrient option {
  color: black;
}

.filter-form-button button {
  width: 95px;
  font-size: 11px;
  border: white thin solid;
  border-radius: unset;
}

.filter-form-button button:hover {
  cursor: pointer;
  color: firebrick;
}
