:host(app-user-favorite-recipes-page) {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
}

.cabinet-favourite-recipes {
  padding: 160px 20px 60px 20px;
  /*----------------------*
  min-height: 100vh; &
  box-sizing: border-box; - синхронізуються - важливо!
  висота сторінки = висоті вікна браузера -
  прибирається зайва прокрутка */
  min-height: 100vh;
  box-sizing: border-box;
  /*---------------------*/
}
