:host(app-user-favorite-recipes-page) {
  width: 100%;
  display: flex;
  justify-content: center;
  /*height: 100%;*/
}

.cabinet-favourite-recipes {
  display: flex;
  width: 100%;
  padding: 160px 20px 60px 20px;
  justify-content: center;
  height: fit-content;
  background-color: #ece1cb;
  /*----------------------*
  min-height: 100vh; &
  box-sizing: border-box; - синхронізуються - важливо!
  висота сторінки = висоті вікна браузера -
  прибирається зайва прокрутка */
  min-height: 100vh;
  box-sizing: border-box;
  /*---------------------*/
}
.cabinet-favourite-recipes-all {
  display: flex;
  width: 100%;
  justify-content: center;
  height: fit-content;
}

