:host(app-user-info-page) {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
}

.cabinet-user-info {
  display: flex;
  width: 100%;
  background-color: #ece1cb;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 160px 20px 60px 20px;
}

/*==================================*/

.cabinet-user-info-avatar {
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  border-bottom: #ece1cb thin dashed;
  display: flex;
  justify-content: center;
  width: 60%;
  padding: 40px 10px;
  background-color: white;
  min-width: 250px;
}

.cabinet-user-info-avatar-content {
  width: 100%;
  max-width: 300px;
}

.cabinet-user-info-avatar-content img {
  border-radius: 30%;
  width: 100%;
}

/*==================================*/

.cabinet-user-info-details {
  display: flex;
  justify-content: space-around;
  padding: 40px 10px;
  width: 60%;
  background-color: white;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.cabinet-user-info-titles,
.cabinet-user-info-contents {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

/*==================================*/

.cabinet-user-info-name-title,
.cabinet-user-info-lastname-title,
.cabinet-user-info-email-title,
.cabinet-user-info-dayOfBirth-title,
.cabinet-user-info-type-of-activity-title,
.cabinet-user-info-height-title,
.cabinet-user-info-weight-title,
.cabinet-user-info-gender-title,
.cabinet-user-info-links-title {
  height: 20px;
  display: flex;
  justify-content: center;
  min-width: 200px;
  /*font-style: italic;*/
  font-size: 15px;
  font-family: "Segoe Print", serif;
}

.cabinet-user-info-name-content,
.cabinet-user-info-lastname-content,
.cabinet-user-info-email-content,
.cabinet-user-info-dayOfBirth-content,
.cabinet-user-info-type-of-activity-content-name,
.cabinet-user-info-height-content,
.cabinet-user-info-weight-content,
.cabinet-user-info-gender-content,
.cabinet-user-info-links-content {
  font-weight: bold;
  font-style: italic;
  font-size: 15px;
  font-family: "Segoe Script", serif;
  height: 20px;
}

.cabinet-user-info-type-of-activity-content {
  display: flex;
  flex-direction: column;
  position: relative;
}

.cabinet-user-info-type-of-activity-content-name:hover {
  cursor: pointer;
  text-decoration: underline;
}

.cabinet-user-info-type-of-activity-content-name span {
  color: #9a9a9a;
}

.cabinet-user-info-type-of-activity-content-about {
  position: absolute;
  left: 150px;
  background-color: #555555;
  border-radius: 20px;
  width: 200px;
  color: white;
  padding: 10px;
}

/*==================================*/

.cabinet-user-info-links-content {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  background-color: white;
  height: fit-content;
}

.cabinet-user-info-link-to-update-account,
.cabinet-user-info-link-to-delete-account {
  /*padding: 10px;*/
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-left: #ece1cb medium solid;
  border-bottom: #ece1cb thin solid;
  text-decoration: underline;
}

.cabinet-user-info-link-to-update-account a,
.cabinet-user-info-link-to-delete-account a {
  color: black;
  font-weight: bold;
  font-family: "Segoe Script", serif;
  text-decoration: none;
  font-style: italic;
}

.cabinet-user-info-link-to-update-account a:hover,
.cabinet-user-info-link-to-delete-account a:hover {
  color: firebrick;
  cursor: pointer;
}

