:host(app-user-info-page) {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
}

.cabinet-user-info-wrapper {
  min-height: 88ch;
  padding: 160px 20px 60px 20px;
}

.cabinet-user-info {
  width: 70%;
  min-width: 900px;
  max-width: 1240px;
  min-height: 550px;
  box-shadow: inset #ece1cb 0 0 30px;
  border-left: white medium solid;
  border-radius: 30px;
}

/*==================================*/

.cabinet-user-info-avatar {
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  border-bottom: #ece1cb thin dashed;
  width: 60%;
  padding: 40px 10px;
  min-width: 250px;
}

.cabinet-user-info-avatar-content {
  max-width: 300px;
}

.cabinet-user-info-avatar-content img {
  border-radius: 30%;
}

/*==================================*/

.cabinet-user-info-details {
  padding: 40px 10px;
  width: 60%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.cabinet-user-info-titles,
.cabinet-user-info-contents {
  row-gap: 10px;
}

/*==================================*/

.cabinet-user-info-name-title,
.cabinet-user-info-lastname-title,
.cabinet-user-info-role-title,
.cabinet-user-info-email-title,
.cabinet-user-info-dayOfBirth-title,
.cabinet-user-info-type-of-activity-title,
.cabinet-user-info-height-title,
.cabinet-user-info-weight-title,
.cabinet-user-info-gender-title,
.cabinet-user-info-links-title {
  height: 20px;
  min-width: 200px;
  font-size: 15px;
}

.cabinet-user-info-name-content,
.cabinet-user-info-lastname-content,
.cabinet-user-info-role-content,
.cabinet-user-info-email-content,
.cabinet-user-info-dayOfBirth-content,
.cabinet-user-info-type-of-activity-content-name,
.cabinet-user-info-height-content,
.cabinet-user-info-weight-content,
.cabinet-user-info-gender-content,
.cabinet-user-info-links-content {
  font-style: italic;
  font-size: 15px;
  height: 20px;
}

.cabinet-user-info-type-of-activity-content {
  position: relative;
}

.cabinet-user-info-type-of-activity-content-name:hover {
  cursor: pointer;
  text-decoration: underline;
}

.cabinet-user-info-type-of-activity-content-about {
  position: absolute;
  left: 150px;
  border-radius: 20px;
  width: 200px;
  padding: 10px;
}

/*==================================*/

.cabinet-user-info-links-content {
  row-gap: 10px;
}

.cabinet-user-info-link-to-update-account,
.cabinet-user-info-link-to-delete-account {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-left: #ece1cb medium solid;
  border-bottom: #ece1cb thin solid;
  text-decoration: underline;
}

.cabinet-user-info-link-to-update-account a,
.cabinet-user-info-link-to-delete-account a {
  text-decoration: none;
  font-style: italic;
}

.cabinet-user-info-link-to-update-account a:hover,
.cabinet-user-info-link-to-delete-account a:hover {
  color: firebrick;
  cursor: pointer;
}

