.user-page {
  padding: 100px 20px 60px 20px;
  border: white thin solid;
}

.user-page-avatar-and-registration {
  padding: 30px 10px;
  max-width: 200px;
  row-gap: 10px;
  font-size: 15px;
}

.user-page-avatar img {
  max-height: 300px;
  min-width: 150px;
  max-width: 100%;
}

/*============================*/

.user-page-created-recipes {
  row-gap: 10px;
  padding: 30px 20px;
  width: 75%;
}

.user-page-no-recipes-message {
  width: 75%;
  padding: 30px 20px;
}

.user-page-created-recipes a {
  text-decoration: none;
}

.user-page-created-recipe {
  border-radius: 15px;
  box-shadow: 1px 1px 2px #555555;
  padding: 30px 10px;
}

/*==============================*/
.user-page-created-recipe-left {
  min-width: 300px;
}

.user-page-created-recipe-photo-content {
  overflow-y: hidden;
  max-height: 200px;
  border-radius: 30%;
  max-width: 300px;
}

.user-page-created-recipe-photo-content img {
  max-width: 100%;
}

/*=================================*/

.user-page-created-recipe-title {
  font-size: 20px;
  width: 250px;
}

.user-page-created-recipe-category {
  font-size: 15px;
  padding: 5px 10px;
  border-top: #ece1cb medium dotted;
}
/*=====================================*/

.user-page-created-recipe-ingredients {
  column-gap: 6px;
  row-gap: 3px;
  flex-wrap: wrap;
  padding: 5px;
  max-height: 150px;
}

.user-page-created-recipe-ingredient {
  column-gap: 10px;
  border-radius: 5px;
  font-size: 14px;
  padding: 5px 8px;
  border-left: #555555 medium solid;
}

/*=================== paging ================*/

.user-page-created-recipes-pagination-wrapper {
  padding: 0 0 10px 0;
  min-height: 57px;
}

.user-page-created-recipes-pagination-paging {
  column-gap: 20px;
  width: 30%;
  height: 40px;
  min-width: 330px;
  box-shadow: white 0 10px 12px;
}

.user-page-created-recipes-pagination-paging-first-page,
.user-page-created-recipes-pagination-paging-previous-page,
.user-page-created-recipes-pagination-paging-next-page,
.user-page-created-recipes-pagination-paging-last-page {
  border: transparent;
  font-size: 25px;
  font-family: "SimSun", serif;
  padding: 0 10px;
  min-width: 50px;
}

.user-page-created-recipes-pagination-paging-first-page:hover,
.user-page-created-recipes-pagination-paging-previous-page:hover,
.user-page-created-recipes-pagination-paging-next-page:hover,
.user-page-created-recipes-pagination-paging-last-page:hover {
  color: firebrick;
  cursor: pointer;
  text-decoration: underline;
}

.user-page-created-recipes-pagination-current-page {
  font-family: "MV Boli", serif ;
  font-size: 22px;
}
