.cabinet-links {
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
}

.cabinet {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.cabinet-links a {
  text-decoration: none;
  font-weight: bold;
  font-size: 26px;
  font-family: Gabriola, serif;
  border-radius: 10px;
  box-shadow: blue 0 0 5px;
  padding: 3px;
}
