:host(app-user-info-update-page) {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
}

.user-info-update-form {
  min-height: 100vh;
  padding: 180px 20px 60px 20px;
}

/*=================================*/

.user-info-update-form-avatar {
  width: 60%;
  padding: 30px 10px 10px 10px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.user-info-update-form-avatar > label > div {
  height: 20px;
  min-width: 230px;
  font-style: italic;
}

.user-info-update-form-avatar > label > input {
  font-style: italic;
  width: 248px;
  border-radius: 5px;
  box-shadow: #555555 0 0 5px;
  border: none;
  padding: 2px 0 0 2px;
}

/*=========================================*/

.user-info-update-form-details {
  padding: 10px 10px;
  row-gap: 20px;
  width: 60%;
}

.user-info-update-form-details > div > label > div {
  height: 20px;
  min-width: 230px;
  font-style: italic;
}

.user-info-update-form-details > div > label > input {
  font-style: italic;
}

.user-info-update-form-details > div > label > select {
  font-style: italic;
}

.user-info-update-form-type-of-activity {
  position: relative;
}

.user-info-update-form-type-of-activity > div {
  position: absolute;
  left: 200px;
  top: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 400px;
  padding: 10px;
}

.user-info-update-form-type-of-activity > label > div:hover {
  cursor: pointer;
  text-decoration: underline;
}

/*======================================*/

.user-info-update-form-submit-button {
  padding: 40px 10px;
  width: 60%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.user-info-update-form-submit-button button {
  height: 10%;
  width: 40%;
  border: #ece1cb medium solid;
  padding: 10px 0;
  font-size: 20px;
  border-radius: 20px;
}

.user-info-update-form-submit-button button:hover {
  color: firebrick;
  cursor: pointer;
}

.user-info-update-form-details > div > label > input,
.user-info-update-form-details > div > label > select {
  width: 250px;
  border-radius: 5px;
  box-shadow: #555555 0 0 5px;
  border: none;
}
