<div class="user-info-update">
  <form class="user-info-update-form" [formGroup]="form">

    <div class="user-info-update-form-avatar">
      <label>
        <div>
          Фото профілю:
        </div>
        <input (change)="onChange($event)" placeholder="Pictures" type="file" id="file" formControlName="avatar">
<!--        <img [src]="imgSrc " alt="your image" id="user-info-update-form-avatar-preview"/>-->

      </label>
    </div>

    <div class="user-info-update-form-details">
      <div class="user-info-update-form-name">
        <label>
          <div>
            Ваше ім'я:
          </div>
          <input type="text" formControlName="name">
        </label>
      </div>
      <div class="user-info-update-form-lastname">
        <label>
          <div>
            Прізвище:
          </div>
          <input type="text" formControlName="lastName">
        </label>
      </div>
      <div class="user-info-update-form-email">
        <label>
          <div>
            Електронна скринька:
          </div>
          <input type="text" formControlName="email">
        </label>
      </div>
      <div class="user-info-update-form-day-of-birth">
        <label>
          <div>
            День Вашого народження:
          </div>
          <input type="date" formControlName="dayOfBirth">
        </label>
      </div>
      <div class="user-info-update-form-type-of-activity">
        <label>
          <div class="user-info-update-form-type-of-activity-title" (click)="showDetails()">Тип занятості<span>?</span></div>
          <select formControlName="activityTypeId">
            <option disabled>Виберіть Ваш тип занятості:</option>
            <option *ngFor="let typeOfActivity of types" [ngValue]="typeOfActivity.id">{{typeOfActivity.name}}</option>
          </select>
        </label>
        <div *ngIf="details" (click)="showDetails()">
          <div *ngFor="let typeOfActivity of types">{{typeOfActivity.id + ". "}}{{typeOfActivity.about}}</div>
        </div>
      </div>
      <div class="user-info-update-form-height">
        <label>
          <div>Ваша висота:</div>
          <input type="number" formControlName="height">
        </label>
      </div>
      <div class="user-info-update-form-weight">
        <label>
          <div>Ваша вага:</div>
          <input type="number" formControlName="weight">
        </label>
      </div>
      <div class="user-info-update-form-gender">
        <label>
          <div class="user-info-update-form-gender">Стать:</div>
          <select formControlName="genderId">
            <option disabled>Виберіть фізіологічну стать:</option>
            <option *ngFor="let gender of genders" [ngValue]="gender.id">{{gender.gender}}</option>
          </select>
        </label>
      </div>
    </div>

    <div class="user-info-update-form-submit-button">
      <button (click)="update()" type="submit">Оновити</button>
    </div>
  </form>
</div>
