<div class="sign-up">

  <form class="sign-up-form" [formGroup]="form">

    <div class="sign-up-form-name">
      <label>
        <input type="text" placeholder="Ім'я" formControlName="name">
      </label>
    </div>

    <div class="sign-up-form-lastname">
      <label>
        <input type="text" placeholder="Прізвище" formControlName="lastName">
      </label>
    </div>

    <div class="sign-up-form-email">
      <label>
        <input type="email" placeholder="Електронна скринька" formControlName="email">
      </label>
    </div>

    <div class="sign-up-form-day-of-birth">
      <label>
        <input type="text" placeholder="Дата вашого народження" dynamic-date-input formControlName="dayOfBirth">
      </label>
    </div>

    <div class="sign-up-form-type-of-activity">
      <label>
        <select formControlName="activityTypeId">
          <option [ngValue]="null" disabled>Виберіть тип занятості</option>
          <option *ngFor="let typeOfActivity of types" [ngValue]="typeOfActivity.id">{{typeOfActivity.name}}</option>
        </select>
        <div class="popup" (click)="openPopUp()">
          <div class="popup-title">Детальніше</div>
          <div class="popuptext" id="myPopup">
            <div *ngFor="let typeOfActivity of types">{{typeOfActivity.id + ". "}}{{typeOfActivity.about}}</div>
          </div>
        </div>
      </label>
    </div>

    <div class="sign-up-form-avatar">
      <label>
        <div class="sign-up-form-avatar-title">Фото профілю</div>
        <input (change)="onChange($event)" type="file" formControlName="avatar">
      </label>
    </div>

    <div class="sign-up-form-height">
      <label>
        <input type="number" placeholder="Ваша висота" formControlName="height">
      </label>
    </div>

    <div class="sign-up-form-weight">
      <label>
        <input type="number" placeholder="Ваша вага" formControlName="weight">
      </label>
    </div>

    <div class="sign-up-form-gender">
      <label>
        <select formControlName="genderId">
          <option [ngValue]="null" disabled>Виберіть фізіологічну стать</option>
          <option *ngFor="let gender of genders" [ngValue]="gender.id">{{gender.gender}}</option>
        </select>
      </label>
    </div>

    <div class="sign-up-form-username">
      <label>
        <input type="text" placeholder="Ім'я користувача (логін)" formControlName="username">
      </label>
    </div>

    <div *ngIf="userNameError">{{userNameError}}</div>

    <div class="sign-up-form-password">
      <label>
        <input type="password" placeholder="Пароль" formControlName="password">
      </label>
    </div>

    <div class="sign-up-form-confirm-password">
      <label>
        <input type="password" placeholder="Підтвердіть пароль" formControlName="confirmPassword">
      </label>
    </div>

    <div *ngIf="form.errors">{{form.errors['notSame']}}</div>

    <div class="sign-up-form-submit-button">
      <div class="sign-up-form-submit-button-label">
        <button [disabled]="form.invalid" (click)="register()" type="submit">Зареєструватись</button>
      </div>
    </div>

  </form>
</div>
