:host(app-sign-up) {
  width: 100%;
  display: flex;
  height: fit-content;
}

.sign-up {
  padding: 100px 0 50px 0;
}

/*---------------*/
label {
  margin: 10px;
}

.sign-up-form-submit-button-label {
  margin: 20px;
}
/*---------------*/

.sign-up-form select {
  width: 370px;
  height: 75px;
  border-radius: 5px;
  padding: 20px;
  font-size: 15px;
  border: 0;
}

.sign-up-form input {
  width: 330px;
  height: 35px;
  border-radius: 5px;
  padding: 20px;
  font-size: 15px;
  border: 0;
}

.sign-up-form-type-of-activity select {
  padding: 5px 20px 35px 20px;
}


.sign-up-form-avatar label {
  position: relative;
  border-radius: 5px;
}

.sign-up-form-avatar-title {
  position: absolute;
  top: 25px;
  left: 20px;
  font-size: 15px;
}


.sign-up-form-avatar input {
  border: 0;
  padding: 20px 0 20px 150px;
  width: 220px;
}

.sign-up-form-submit-button button {
  background-color: #ade59d;
  padding: 20px;
  width: 180px;
  height: 35px;
  border-radius: 3px;
  font-size: 15px;
  border: 0;
  box-shadow: #555555 0 0 1px;
}

.sign-up-form-submit-button button:disabled {
  background-color: #f5b0a8;
  color: #9a9a9a;
}

/*----------pop up-----------------*/

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.popup-title {
  position: absolute;
  left: -347px;
  top: 12px;
  font: lighter 15px Arial;
}

.popup-title:hover {
  color: black;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 300px;
  background-color: #555;
  text-align: left;
  border-radius: 6px;
  padding: 8px 8px;
  position: absolute;
  z-index: 1;
  bottom: -300px;
  left: 20px;
  margin-left: 0;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 200px;
  left: -2%;
  margin-left: -20px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent #555 transparent transparent;
}

/* Toggle */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
