<div class="recipe" id="recipe">
  <a [routerLink]="[link, recipe.id]" [state]="{data: recipe}">
    <div class="recipe-photo">
      <div class="recipe-photo-content">
        <img class="recipe-photo-content-img" src="{{url + '/' + recipe.dateOfCreation + '/' + recipe.image}}"
             alt="photo">
      </div>
    </div>

    <div class="recipe-title">
      <div class="recipe-title-content">{{recipe.title}}</div>
    </div>

    <div class="recipe-category">
      <div class="recipe-category-content">{{recipe.recipeCategoryDto.name}}</div>
    </div>

    <div class="recipe-ingredients">
      <div class="recipe-ingredient" *ngFor="let ingredient of recipe.ingredients">
        <div class="recipe-ingredient-name">
          <div class="recipe-ingredient-name-content">
            {{ingredient.name}}
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
