.recipe {
  border-radius: 10px 10px 35px 35px;
  border-left: #ece1cb medium solid;
  border-top: #ece1cb thin solid;
  box-shadow: 0 0 3px #ece1cb;
  padding: 10px 5px;
}

.recipe a {
  text-decoration: none;
}

.recipe:hover {
  box-shadow: 3px 3px 2px #9a9a9a ;
}

.recipe-title-content {
  font-size: 23px;
  font-weight: bold;
  text-shadow: 5px 0 5px gray;
  padding-bottom: 10px;
}

.recipe-category {
  border-top: #ece1cb medium dotted;
  border-bottom: #ece1cb medium dotted;
  font-size: 17px;
  padding: 5px 10px;
  width: 300px;
}

.recipe-ingredient {
  column-gap: 10px;
  border-left: #ece1cb medium solid;
  border-radius: 9px;
  padding: 1px 8px;
  font-size: 14px;
}

.recipe-ingredients {
  column-gap: 6px;
  row-gap: 3px;
  flex-wrap: wrap;
  padding: 25px 5px 25px 50px;
}

.recipe-photo > div,
.recipe-category > div {
  flex-grow: 1;
}

/*=======================*/

.recipe-photo-content {
  overflow: hidden;
  border-radius: 30%;
}

.recipe-photo-content img {
  max-width: 300px;
  /*мусить бути абсолютна величина,
  інакше директива з висотою не працюватиме,
  бо не хоче сама рахувати висоту картинок*/
  height: 200px;
  -webkit-transform: scale(1);
  transform: rotate(2deg) scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.recipe-photo-content img:hover {
  transform: rotate(0) scale(1.05);
}

/*========================*/
