<div class="sign-in width-100-per height-100-per display-flex just-cont-cent align-item-cent background-color-ece1cb flex-dir-column">

  <form class="sign-in-form" [formGroup]="form">

    <div class="sign-in-form-username display-flex just-cont-cent">
      <label>
        <input class="sign-in-form-username color-9a9a9a font-f-lucida-grande" placeholder="Ім'я користувача" type="text" formControlName="username">
      </label>
    </div>

    <div class="sign-in-form-password display-flex just-cont-cent">
      <label>
        <input class="sign-in-form-password color-9a9a9a font-f-lucida-grande" placeholder="Пароль" type="password" formControlName="password">
      </label>
    </div>

    <div  class="display-flex just-cont-cent" *ngIf="userNameOrPasswordError">{{userNameOrPasswordError}}</div>

    <div class="sign-in-form-links display-flex flex-dir-column align-item-cent">
      <div class="sign-in-form-links-submit-button">
        <button class="display-flex align-item-cent just-cont-cent color-black font-weight-bold" [disabled]="form.invalid"  type="submit" (click)="signIn()">Увійти</button>
      </div>

      <div class="sign-in-form-link-to-sign-up">
        <a class="sign-in-to-sign-up" [routerLink]="['/sign-up']">не зареєстровані?</a>
      </div>
    </div>

  </form>
</div>
