.update-recipe {
  padding: 110px 50px;
  row-gap: 20px;
}

.update-recipe-title {
  font-size: 25px;
}

.update-recipe-form {
  row-gap: 12px;
  width: 80%;
}

.update-recipe-form-title-content {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 20px;
  flex-grow: 1;
}

.update-recipe-form-title-title,
.update-recipe-form-cooking-name,
.update-recipe-form-category-title,
.update-recipe-form-ingredients-title,
.update-recipe-form-picture-title {
  width: 200px;
  font-size: 15px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 10px;
}

.update-recipe-form-cooking-input{
  flex-grow: 1;
}

.update-recipe-form-cooking-input > textarea {
  flex-grow: 1;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: #fcf2e1 solid medium;
}

.update-recipe-form-category-select {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  flex-grow: 1;
  padding: 5px;
}

.update-recipe-form-category-select select {
  width: 50%;
  border: none;
  padding: 0 5px;
  font-size: 15px;
}

.update-recipe-form-category-select select:hover {
  background-color: #ece1cb;
  transition-duration: 0.1s;
}

.update-recipe-form-ingredients-list {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  flex-grow: 1;
  padding: 5px;
  row-gap: 5px;
}

/*--------------------------------------*/

.update-recipe-form-ingredient-number-title,
.update-recipe-form-ingredient-number {
  width: 2%;
  font-size: 15px;
}

.update-recipe-form-ingredient-category-title,
.update-recipe-form-ingredient-category {
  width: 25%;
}

.update-recipe-form-ingredient-category select {
  width: 90%;
  font-size: 13px;
  border: none;
  border-radius: unset;
}

.update-recipe-form-ingredient-category select:hover {
  transition-duration: 0.1s;
  background-color: #ece1cb;
}

.update-recipe-form-ingredient-id-title,
.update-recipe-form-ingredient-id {
  width: 45%;
}

.update-recipe-form-ingredient-id select {
  width: 90%;
  font-size: 13px;
  border: none;
  border-radius: unset;
}

.update-recipe-form-ingredient-id select:hover {
  background-color: #ece1cb;
  transition-duration: 0.1s;
}

.update-recipe-form-ingredient-weight-title,
.update-recipe-form-ingredient-weight {
  width: 15%;
}

.update-recipe-form-ingredient-delete-button {
  width: 5%;
}

/*-----------------------------------------*/

.update-recipe-form-ingredient-titles {
  column-gap: 5px;
  font-size: 15px;
}

.update-recipe-form-ingredient {
  column-gap: 1%;
  padding-left: 1%;
  padding-right: 1%;
}

.update-recipe-form-ingredient-weight-input input {
  width: 90%;
  border: none;
  border-radius: unset;
  font-family: "Segoe Print", sans-serif;
  background-color: #fcf2e1;
}

.update-recipe-form-ingredient-weight-input input:focus {
  background-color: #ece1cb;
}

.update-recipe-form-ingredient-delete-button button {
  border: none;
  width: 30px;
  font-size: 15px;
}

.update-recipe-form-ingredient-delete-button button:hover {
  background-color: #ece1cb;
}

.update-recipe-form-ingredient-add-button {
  height: 25px;
}

.update-recipe-form-ingredient-add-button button {
  width: 84%;
  margin-left: 4%;
  border: none;
  border-radius: unset;
  font-size: 15px;
}

.update-recipe-form-ingredient-add-button button:hover {
  background-color: #d9ccb3;
}

.update-recipe-form-picture-input {
  padding: 5px;
  flex-grow: 1;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.update-recipe-form-picture-input input {
  font-size: 14px;
  width: 30%;
  padding-left: 40px;
}

.update-recipe-form-button button {
  border-radius: 20px;
  font-size: 25px;
  padding: 10px 20px;
  border: none;
}
