.recipe-page {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.recipe-page-wrapper {
  display: flex;
  padding: 100px 20px;
  flex-direction: column;
  row-gap: 30px;
  background-color: #ece1cb;
  height: fit-content;
  width: 100%;
  align-items: center;
}

.recipe-page-body-top {
  width: 70%;
  min-width: 900px;
  max-width: 1240px;
  display: flex;
  justify-content: center;
  box-shadow: inset #ece1cb 0 0 30px;
  background-color: white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-left: white medium solid;
}

.recipe-page-photo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%;
  padding: 30px;
}

/*========= status =========*/

.recipe-page-status {
  position: absolute;
  left: 20px;
  top: 40px;
}

.recipe-page-status:hover {
  cursor: pointer;
}

.recipe-page-status-check-uncheck {
  display: none;
  font-size: 25px;
}

/* toggle */
.show-hide-status {
  display: flex;
}

.recipe-page-status-checked {
  color: darkseagreen;
  font-size: 28px;
}

.recipe-page-status-unchecked {
  font-size: 28px;
}

/*==========================*/

.recipe-page-photo-content {
  overflow: hidden;
  max-width: 65vw;
}

.recipe-page-photo-content img {
  max-width: 800px;
}

/*-----------title--------------*/

.recipe-page-info-with-ingredients {
  min-height: fit-content;
  flex-grow: 1;
  row-gap: 15px;
  padding: 30px;
}

.recipe-page-title {
  font-size: 25px;
  border-radius: 15px;
}

/*---------author-------------*/

.recipe-page-author-link span {
  font-size: 15px;
}

.recipe-page-author-link-name {
  font-size: 17px;
  text-decoration: none;
}

.recipe-page-author-link-name:hover {
  color: firebrick;
  cursor: pointer;
}

/*---------update-----------*/

.link-to-update-recipe {
  font-size: 15px;
}

.link-to-update-recipe a {
  text-decoration: none;
  font-size: 17px;
}

.link-to-update-recipe a:hover {
  color: firebrick;
  cursor: pointer;
}
/*-----------rating--------------*/

.rating {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 150px;
  height: 30px;
  padding: 5px 10px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background: #FFF;
  display: block;
  overflow: hidden;
}

.rating:not(:checked) > input {
  display: none;
}

#like {
  bottom: -65px;
}

#like:not(:checked) > label {
  cursor: pointer;
  float: right;
  width: 30px;
  height: 30px;
  display: block;
  opacity: .4;
  line-height: 33px;
  text-align: center;
}

#like:not(:checked) > label:hover,
#like:not(:checked) > label:hover ~ label {
  opacity: .6;
}

#like > input:checked + label:hover,
#like > input:checked + label:hover ~ label,
#like > input:checked ~ label:hover,
#like > input:checked ~ label:hover ~ label,
#like > label:hover ~ input:checked ~ label {
  opacity: .8;
}

#like > input:checked ~ label {
  opacity: 1;
}

#recipe-form button:hover {
  cursor: pointer;
}

/*-----------------------------*/

#recipe-form {
  border-radius: 30px;
  padding: 5px 0;
}

#recipe-ranking-with-user {
  padding: 10px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  font-weight: bold;
  font-family: "Segoe Print", sans-serif;
  font-size: 15px;
}

#recipe-ranking {
  padding: 10px;
  border-radius: 30px;
  font-size: 15px;
}

#recipe-form > button {
  height: 40px;
  width: 80px;
  border-radius: 30px;
  padding: 5px 10px;
  border: none;
}

#recipe-form > button:hover {
  color: firebrick;
}

/*------------like-button------------------*/

.recipe-page-like-button {
  height: 50px;
}

.recipe-page-like-button-true,
.recipe-page-like-button-false {
  font-size: 12px;
}

.recipe-page-like-button-true a:hover,
.recipe-page-like-button-false:hover{
  color: firebrick;
  cursor: pointer;
}

/*----------category-----------------*/

.recipe-page-category {
  font-size: 15px;
  font-style: normal;
  margin: 7px 85px;
  text-decoration: none;
}

.recipe-page-category-content:hover {
  color: firebrick;
  cursor: pointer;
}

/*-------ingredients--------------*/

.recipe-page-ingredients {
  row-gap: 5px;
  padding: 5px 10px;
  border-radius: 15px;
}

.recipe-page-ingredients-titles {
  column-gap: 10px;
}

.recipe-page-ingredients-titles-ingredient {
  width: 190px;
}

.recipe-page-ingredients-titles-weight,
.recipe-page-ingredient-weight {
  width: 70px;
}

.recipe-page-ingredient {
  column-gap: 10px;
}

.recipe-page-ingredient-name-content-sign {
  width: 10px;
}

.recipe-page-ingredient-name {
  width: 190px;
}

/*===========================*/

.recipe-page-body-middle {
  width: 70%;
  max-width: 1240px;
  min-width: 900px;
  padding: 50px;
  box-shadow: inset #ece1cb 0 0 30px;
  border-left: white medium solid;
}

.recipe-page-description {
  row-gap: 5px;
  flex-grow: 1;
  font-size: 18px;
  padding: 30px;
}

/*===========================*/

.recipe-page-body-bottom {
  padding: 50px 0 ;
  width: 70%;
  min-width: 950px;
  max-width: 1240px;
  box-shadow: inset #ece1cb 0 0 30px;
  border-left: white medium solid;
}

.recipe-page-nutrients {
  row-gap: 5px;
  padding: 5px 10px;
  border-radius: 40px;
}

/*------------------*/

.recipe-page-nutrients-title-short {
  font-size: 25px;
}

.recipe-page-nutrients-title-long {
  font-size: 20px;
}

/*------------------*/

.recipe-page-nutrients-titles {
  font-size: 12px;
  border-bottom: black dotted thin;
  column-gap: 1%;
}

.white-space {
  width: 5vw;
}

/*------------------*/

.recipe-page-user-proportions {
  flex-wrap: wrap;
  font-size: 12px;
}

.recipe-page-user-proportions-title {
  padding: 10px 0 10px 0;
  font-size: 17px;
}

.recipe-page-user-proportion-energy,
.recipe-page-user-proportion-organics,
.recipe-page-user-proportion-vitamins,
.recipe-page-user-proportion-minerals {
  column-gap: 1%;
}

/*______ width ________*/

.recipe-page-user-proportions-id,
.recipe-page-nutrients-titles-no {
  width: 50px;
}

.recipe-page-user-proportions-name,
.recipe-page-nutrients-titles-nutrient {
  width: 200px;
}

.recipe-page-user-proportions-category,
.recipe-page-nutrients-titles-category {
  width: 150px;
}

.recipe-page-user-proportions-recipe-quantity,
.recipe-page-nutrients-titles-quantity {
  width: 250px;
}

.recipe-page-user-proportions-norm,
.recipe-page-nutrients-titles-norm {
  width: 140px;
}

.recipe-page-user-proportions-percentage,
.recipe-page-nutrients-titles-percentage {
  width: 100px;
}


/*============ comments ==============*/

.recipe-page-body-comments {
  padding: 50px 50px ;
  width: 70%;
  min-width: 950px;
  max-width: 1240px;
  box-shadow: inset #ece1cb 0 0 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-left: white medium solid;
  row-gap: 30px;
}

.recipe-page-body-comments-list-wrapper {
  row-gap: 10px;
}

.recipe-page-body-comment {
  border-radius: 10px;
  border-left: #ece1cb medium solid;
  border-bottom: #ece1cb thin solid;
  box-shadow: #555555 1px 0 2px;
  padding: 20px 50px 30px 50px;
}

.recipe-page-body-comment-top {
  padding-bottom: 10px;
  column-gap: 50px;
  border-bottom: #ece1cb medium dotted;
}

.recipe-page-body-comment-author:hover {
  color: #af5858;
  cursor: pointer;
}

.recipe-page-body-comment-delete {
  font-size: 17px;
  border: #c8c8c8 thin dotted;
  border-radius: 50%;
  padding: 0 5px;
}

.recipe-page-body-comment-delete:hover {
  color: firebrick;
  cursor: pointer;
}

.recipe-page-body-comment-bottom {
  padding-top: 10px;
}

.recipe-page-body-comments-form {
  column-gap: 30px;
}

.recipe-page-body-comments-form textarea {
  width: 60%;
  padding-left: 50px;
}
