/* жирний  "Franklin Gothic Medium"*/
/* писаний акуратний "Gabriola"       */
/* писаний незрозумілий "Mistral"*/
/* писаний широкий "Monotype Corsiva"*/
/* писаний "Segoe Print"*/
.rating {
  /*position: absolute;*/
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 150px;
  height: 30px;
  padding: 5px 10px;
  /*margin: auto;*/
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background: #FFF;
  display: block;
  overflow: hidden;

  /*unicode-bidi: bidi-override;*/
  /*direction: rtl;*/
}

.rating:not(:checked) > input {
  display: none;
}

#like {
  bottom: -65px;
}

#like:not(:checked) > label {
  cursor:pointer;
  float: right;
  width: 30px;
  height: 30px;
  display: block;

  color: rgba(233, 54, 40, .4);
  line-height: 33px;
  text-align: center;
}

#like:not(:checked) > label:hover,
#like:not(:checked) > label:hover ~ label {
  color: rgba(233, 54, 40, .6);
}

#like > input:checked + label:hover,
#like > input:checked + label:hover ~ label,
#like > input:checked ~ label:hover,
#like > input:checked ~ label:hover ~ label,
#like > label:hover ~ input:checked ~ label {
  color: rgba(233, 54, 40, .8);
}

#like > input:checked ~ label {
  color: rgb(233, 54, 40);
}

#recipe-form button:hover {
  cursor: pointer;
}

/*-----------------------------*/

#recipe-form {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: #FFF;
  padding: 5px 0;
}
#recipe-form > div {
  background-color: #eaf5de;
  padding: 10px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  font-weight: bold;
  font-family: "Segoe Print", sans-serif;
  font-size: 15px;
}

#recipe-form > button {
  height: 40px;
  width: 80px;
  border-radius: 30px;
  background-color: #FFF;
  padding: 5px 10px;
  border: none;
  font-family: "Segoe Print", sans-serif;
  font-weight: bold;
}

#recipe-form > button:hover {
  color: firebrick;
}

.recipe {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}

.recipe-body-top {
  display: flex;
  justify-content: center;
}

.recipe-page-photo {
  display: flex;
  /*flex-grow: 1;*/
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  box-sizing: border-box;
}

.recipe-page-photo-content {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.recipe-page-photo img {
  max-width: 80vw;
  height: 100%;
  box-sizing: border-box;
}

.recipe-info-with-ingredients {
  /*flex-grow: 2;*/
  /*width: 40%;*/
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  justify-content: center;
  padding: 10px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #eaf5de;
  box-sizing: border-box;
}

.recipe-ingredients {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  padding: 5px 10px;
  box-shadow: white 0 0 8px 3px;
  border-radius: 15px;
  background-color: white;
}

.recipe-ingredients-titles {
  display: flex;
  justify-content: space-evenly;
  font-family: "Segoe Print", sans-serif;
  font-weight: bold;
}

.recipe-ingredient {
  display: flex;
  justify-content: space-around;
  font-family: "Segoe Print", sans-serif;
  font-weight: lighter;
}

.recipe-title {
  font: 30px "Segoe Print";
  font-weight: bold;
  text-shadow: 5px 0 5px gray;
  display: flex;
  justify-content: center;
  background-color: white;
  box-shadow: white 0 0 8px 3px;
  border-radius: 15px;
}

.recipe-author-link span {
  font: 15px "Segoe Script";
}

.recipe-author-link-name {
  font: 17px "Segoe Print";
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.recipe-author-link-name:hover {
  color: firebrick;
  cursor: pointer;
}

.link-to-update-recipe {
  font: 15px "Segoe Script";
}

.link-to-update-recipe a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 17px;
  font-family: "Segoe Print", sans-serif;
}

.link-to-update-recipe a:hover {
  color: firebrick;
  cursor: pointer;
}
/*------------------------------*/
.recipe-like-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.recipe-like-button-true,
.recipe-like-button-false {
  font: 12px "Segoe Print";
}

.recipe-like-button-true a,
.recipe-like-button-false {
  font-weight: bold;
}

.recipe-like-button-true a:hover,
.recipe-like-button-false:hover{
  color: firebrick;
  cursor: pointer;
}
/*---------------------------*/
.recipe-category {
  /*background-color: #ade59d;*/
  font: 15px "Segoe Print";
  font-style: normal;
  font-weight: bold;
  color: black;
  margin: 7px 85px;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.recipe-category-content:hover {
  color: firebrick;
  cursor: pointer;
}

.recipe-ingredients-titles-ingredient {
  width: 190px;
  display: flex;
}

.recipe-ingredient-name {
  width: 190px;
  display: flex;
}

.recipe-ingredient-name-content-sign {
  width: 10px;
}

.recipe-ingredients-titles-weight,
.recipe-ingredient-weight {
  width: 70px;
}

.recipe-ingredients-titles-category,
.recipe-ingredient-category {
  width: 100px;
}

.recipe-ingredients-titles {
  display: flex;
  column-gap: 10px;
}

.recipe-ingredient {
  display: flex;
  column-gap: 10px;
}

.recipe-body-middle {
  display: flex;
  justify-content: center;
}

.recipe-description {
  display: flex;
  flex-direction: column;
  row-gap: 5px;

  flex-grow: 1;
  max-width: 1500px;

  font-size: 18px;
  font-family: "Segoe Script", sans-serif;
  background-color: #fadc9d;
  border-radius: 20px;
  padding: 30px;
  box-shadow: #fadc9d 0 0 10px 3px;
  box-sizing: border-box;
}

.recipe-body-bottom {
  display: flex;
  justify-content: center;
}

.recipe-nutrients {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  padding: 5px 10px;
  width: 90%;
  justify-content: center;
  border-radius: 40px;
  border: black solid thin;
  align-items: center;
}

.recipe-nutrients-title-short {
  font-family: "Segoe Print", sans-serif;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.recipe-nutrients-title-long {
  font-family: "Segoe Script", sans-serif;
  font-size: 20px;
  color: #9a9a9a;
  display: flex;
  justify-content: center;

}

.recipe-nutrients-titles {
  display: flex;
  font: 12px "Segoe Print";
  padding-left: 5%;
  border-bottom: black dotted thin;
  column-gap: 1%;
  width: 80%;
  box-sizing: border-box;
}

.recipe-nutrients-titles > div {
  display: flex;
  justify-content: center;
}

.recipe-nutrient {
  display: flex;
  column-gap: 10px;
}

.recipe-user-proportions {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font: 12px "Segoe Print";
  width: 80%;
}

.recipe-user-proportions-id,
.recipe-user-proportions-name,
.recipe-user-proportions-category,
.recipe-user-proportions-recipe-quantity,
.recipe-user-proportions-norm,
.recipe-user-proportions-percentage {
  display: flex;
  justify-content: center;
}


.recipe-user-proportions-title {
  padding: 10px 0 10px 0;
  font-size: 17px;
  font-weight: bold;
}

.recipe-user-proportion-energy,
.recipe-user-proportion-organics,
.recipe-user-proportion-vitamins,
.recipe-user-proportion-minerals
{
  display: flex;
  padding-left: 5%;
  column-gap: 1%;

}
/*______________*/
.recipe-user-proportions-norm,
.recipe-nutrients-titles-norm {
  width: 140px;
}

.recipe-user-proportions-recipe-quantity,
.recipe-nutrients-titles-quantity {
  width: 250px;
}

.recipe-user-proportions-category,
.recipe-nutrients-titles-category {
  width: 150px;
}

.recipe-user-proportions-id,
.recipe-nutrients-titles-no {
  width: 50px;
}

.recipe-user-proportions-percentage,
.recipe-nutrients-titles-percentage {
  width: 100px;
}

.recipe-user-proportions-name,
.recipe-nutrients-titles-nutrient {
  width: 200px;
}
